<div class="body-container">
<div class="stock-dashboard-container">
<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<div class= "portfolio-cards">
      <% @stocks.each do |stock| %>
        <div class="p-card">
          <h5 class="p-card-title"><%= link_to stock.ticker, stock%></h5>
          <h6 class="p-card-subtitle mb-2 text-muted"><%= stock.company_name%></h6>
          <p class="p-card-text">Last bought at: Php<%= stock.last_transaction_price%></p>
          <p class="p-card-text">Stock quantity: <%= stock.quantity%></p>
        </div>
      <% end %>
    </div>

<br>

<%= link_to 'New Stock', new_stock_path %>
</div>
</div>
