<p id="notice"><%= notice %></p>

<div class= "body-container">
  <div><%= @stock.ticker %></div>
  <div><%= @stock.company_name %></div>
  <div><%= @stock.price %></div>
  <div><%= @stock.quantity %></div>

  <%= link_to 'Edit', edit_stock_path(@stock) %> |
  <%= link_to 'Back', stocks_path %>

  <h2>Orders<h2>
    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th scope="col">Order Type</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Posted</th>
      </tr>
      </thead>
    <% @orders.each do |order| %>
      <tbody>
      <tr>
        <td><%= order.transaction_type %></td>
        <td><%= order.price %></td>
        <td><%= order.quantity %></td>
        <td><%= order.created_at %></td>
      </tr>
    </tbody>
    <% end %>
    </table>

<%= link_to 'Add Order', new_stock_order_path(@stock) %>
</div>