<p id="notice"><%= notice %></p>

  <div><%= @stock.ticker %></div>
  <div><%= @stock.company_name %></div>
  <div><%= @stock.last_transaction_price %></div>
  <div><%= @stock.quantity %></div>

<%= link_to 'Back', stocks_path %>

<p>Order</p>
<%= link_to 'Add Order', new_stock_order_path(@stock) %>