<div class= "body-container">
  <div class="stockshow-container">
    <p id="notice"><%= notice %></p>

    <div class="company-info-container">
      <img src="<%= @stock.logo %>">
      <h1><%= @stock.company_name %> (<%= @stock.ticker %>)</h1>
      <h4> Last transaction price: Php <%= number_with_precision(@stock.last_transaction_price, precision: 2) %></h4>
      <h4>Stocks: <%= number_with_delimiter(@stock.quantity) %></h4>
    </div>

    <%= link_to 'Edit', edit_stock_path(@stock) %> |
    <%= link_to 'Back', stocks_path %>

    <h2>Orders<h2>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Order Type</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
          <% @buy_orders.each do |order| %>
        <tbody>
          <tr>
            <td><%= order.transaction_type %></td>
            <td><%= number_with_precision(order.price, precision: 2) %></td>
            <td><%= number_with_delimiter(order.quantity) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>

      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Order Type</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
          <% @sell_orders.each do |order| %>
        <tbody>
          <tr>
            <td><%= order.transaction_type %></td>
            <td><%= number_with_precision(order.price, precision: 2) %></td>
            <td><%= number_with_delimiter(order.quantity) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>

  <%= link_to 'Add Order', new_stock_order_path(@stock) %>
  </div>
</div>