<section class="forms-section">
  <div class="forms-container">
    
				<%= image_tag("figma_icons/trending.png", alt: "trending up icon", :class => "bigtrend-bg") %>
		
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
				<%= image_tag("figma_icons/coolicon.svg", alt: "user icon", :class => "user_icon") %>
				<%= f.email_field :email, autocomplete: "email", placeholder: "Enter Email" %>
			</div>

      <div class="field">
				<%= image_tag("figma_icons/coolicon.svg", alt: "user icon", :class => "user_icon") %>
				<%= f.email_field :firstname, autocomplete: "firstname", placeholder: "First Name" %>
			</div>

      <div class="field">
				<%= image_tag("figma_icons/coolicon.svg", alt: "user icon", :class => "user_icon") %>
				<%= f.email_field :lastname, autocomplete: "lastname", placeholder: "Last Name" %>
			</div>

      <div class="field">
				<%= image_tag("figma_icons/coolicon.svg", alt: "user icon", :class => "user_icon") %>
				<%= f.email_field :username, autocomplete: "username", placeholder: "Username" %>
			</div>

      <div class="field" id="role-container">
        <% if :role == "Broker" %>
        <%= flash[:broker] %>
        <% end %>
        <%= f.label :role, :class => "role-label" %><br />
        <%= f.select :role, ["Buyer", "Broker"] %>
      </div>
      
      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= image_tag("figma_icons/lock_outline.svg", alt: "user icon", :class => "user_icon") %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
      </div>

      <div class="field">
			<%= image_tag("figma_icons/lock_outline.svg", alt: "user icon", :class => "user_icon") %>
				<%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
			</div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= link_to "Back", root_path %><br />

    <%= render "users/shared/links" %>
    
  </div>
</section>
